<main>
  <div class="head">
    <h1 class="head_mypage">プロフィール</h1>
  </div>
  <div class="layer">
    <%= link_to top_customers_path do %>
    <i class="fas fa-chevron-left">&thinsp;マイページに戻る</i>
    <% end %>
  </div>
  <div class="profile">
    <ul>
      <li>
        <dl>
          <dt>ニックネーム</dt>
          <dd><%= @customer.nickname %></dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>メールアドレス</dt>
          <dd><%= @customer.email %></dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>住所（都道府県）</dt>
          <dd>
            <% if @customer.state.blank? %>
            未設定
            <% elsif @customer.state == 0 %>
            未設定
            <% else %>
            <%= @customer.state %>
            <% end %>
          </dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>住所（市区町村）</dt>
          <dd>
            <% if @customer.city.blank? %>
            未設定
            <% else %>
            <%= @customer.city %>
            <% end %>
          </dd>
        </dl>
      </li>
    </ul>
    <div class="user-edit-action">
      <%= link_to edit_customer_path do %>
      <i class="far fa-edit">&thinsp;編集する</i>
      <% end %>
    </div>
  </div>
</main>
