<main>
  <div class="head">
    <h1>サービス編集フォーム</h1>
  </div>
  <%= form_with model: @service, url: {controller: 'services', action: 'update' }, local:true do |f| %>
  <div class="form">
    <div class="form_group">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title %>
    </div>
    <div class="form_group">
      <%= f.label :content, "内容説明" %>
      <%= f.text_area :content %>
    </div>
    <div class="actions">
      <%= f.submit "保存する" %>
    </div>
  </div>
  <% end %>
</main>
