<main>
  <div class="head">
    <h1>メニュー/商品編集フォーム</h1>
  </div>
  <div class="layer">
    <%= link_to admin_shop_items_path do %>
    <i class="fas fa-chevron-left">&thinsp;メニーュ/商品一覧に戻る</i>
    <% end %>
  </div>
  <div class="validate">
  <% if @item.errors.any? %>
    <h3><%= @item.errors.count %>件のエラーが発生しました</h3>
    <% @item.errors.full_messages.each do |message| %>
      <p class="validate-text"><%= message %></p>
    <% end %>
  <% end %>
  </div>
  <%= form_with model: @item, url: {controller: 'items', action: 'update' }, local:true do |f| %>
  <div class="form">
    <div class="form_group">
      <%= f.label :image, "画像" %>
      <%= f.attachment_field :image, class: 'logo-form' %>
    </div>
    <div class="form_group">
      <%= f.label :name, "タイトル" %>
      <%= f.text_field :name %>
    </div>
    <div class="form_group">
      <%= f.label :content, "商品説明" %>
      <%= f.text_area :content %>
    </div>
    <div class="form_group">
      <%= f.label :price, "価格（税抜き/数字のみ）" %>
      <%= f.text_field :price %>
    </div>
    <div class="actions">
      <%= f.submit "登録する" %>
    </div>
  </div>
  <% end %>
</main>
