<main>
  <div class="head">
    <h1>店舗情報作成フォーム</h1>
  </div>
  <%= form_with model: @shop, url: admin_shops_path, local:true do |f| %>
  <div class="form">
    <div class="form_group">
      <%= f.label :name, "会社名または店舗名" %>
      <%= f.text_field :name %>
    </div>
    <div class="form_group">
      <%= f.label :shop_genre, "お店のジャンル" %>
      <%= f.select :shop_genre, Shop.shop_genres_i18n.invert, {} %>
    </div>
    <div class="form_group">
      <%= f.label :postal_code, "郵便番号(ハイフンなし）" %>
      <%= f.text_field :postal_code %>
    </div>
    <div class="form_group">
      <%= f.label :address, "住所" %>
      <%= f.text_field :address %>
    </div>
    <div class="form_group">
      <%= f.label :phone, "電話番号（ハイフンなし）" %>
      <%= f.text_field :phone %>
    </div>
    <div class="form_group">
      <%= f.label :access, "アクセス" %>
      <%= f.text_field :access %>
    </div>
    <div class="form_group">
      <%= f.label :parking, "駐車場の有無" %>
      <%= f.text_field :parking %>
    </div>
    <div class="form_group">
      <%= f.label :business_hours, "営業時間" %>
      <%= f.text_field :business_hours %>
    </div>
    <div class="form_group">
      <%= f.label :holiday, "定休日" %>
      <%= f.text_field :holiday %>
    </div>
    <div class="form_group">
      <%= f.label :homepage, "ホームページURL" %>
      <%= f.text_field :homepage %>
    </div>
    <div class="form_group">
      <%= f.label :logo, "ロゴマーク" %>
      <%= f.attachment_field :logo, class: 'logo-form' %>
    </div>
    <div class="actions">
      <%= f.submit "登録する" %>
    </div>
  </div>
  <% end %>
</main>
