<main>
  <div class="head">
    <h1>店舗作成フォーム</h1>
  </div>
  <div class="shop-create">
    <% if current_admin.shop.nil? %>
    <p>※店舗情報の作成後、全てのフォームを作成いただけます。</p>
    <ul>
      <li>
        <%= link_to new_admin_shop_path do %>
        <div class="shop-create_content">
          <%= image_tag('shop-info-icon') %>
          <h2>店舗情報</h2>
          <p>まちわっかに出店する店舗情報の登録・編集ができます。</p>
        </div>
        <% end %>
      </li>
      <li>
        <div class="shop-create_content">
          <%= image_tag('bannar-icon') %>
          <h2>トップバナー</h2>
          <p>店舗詳細ページのバナーの登録・編集ができます。</p>
        </div>
      </li>
      <li>
        <div class="shop-create_content">
          <%= image_tag('service-icon') %>
          <h2>サービス</h2>
          <p>お客様に提供しているサービスの登録・編集ができます。</p>
        </div>
      </li>
      <li>
        <div class="shop-create_content">
          <%= image_tag('menu-icon') %>
          <h2>商品/メニュー</h2>
          <p>お客様に提供する、商品またはメニューの登録・編集ができます。</p>
        </div>
      </li>
      <li>
        <div class="shop-create_content">
          <%= image_tag('news-icon') %>
          <h2>ニュース</h2>
          <p>店舗のお知らせ・ブログ・イベントの登録・編集ができます。</p>
        </div>
      </li>
    </ul>
    <% else %>
    <ul>
      <li>
        <%= link_to admin_shop_path(current_admin.shop.id) do %>
        <div class="shop-create_content">
          <%= image_tag('shop-info-icon') %>
          <h2>店舗情報</h2>
          <p>まちわっかに出店する店舗情報の登録・編集ができます。</p>
        </div>
        <% end %>
      </li>
      <% if current_admin.shop.top_banners.empty? %>
      <li>
        <%= link_to new_admin_shop_top_banner_path(current_admin.shop.id) do %>
        <div class="shop-create_content">
          <%= image_tag('bannar-icon') %>
          <h2>トップバナー</h2>
          <p>店舗詳細ページのバナーの登録・編集ができます。</p>
        </div>
        <% end %>
      </li>
      <% else %>
      <li>
        <%= link_to admin_shop_top_banners_path(current_admin.shop.id) do %>
        <div class="shop-create_content">
          <%= image_tag('bannar-icon') %>
          <h2>トップバナー</h2>
          <p>店舗詳細ページのバナーの登録・編集ができます。</p>
        </div>
        <% end %>
      </li>
      <% end %>
      <% if current_admin.shop.services.empty? %>
      <li>
        <%= link_to new_admin_shop_service_path(current_admin.shop.id) do %>
        <div class="shop-create_content">
          <%= image_tag('service-icon') %>
          <h2>サービス</h2>
          <p>お客様に提供しているサービスの登録・編集ができます。<</p>
        </div>
        <% end %>
      </li>
      <% else %>
      <li>
        <%= link_to admin_shop_services_path(current_admin.shop.id) do %>
        <div class="shop-create_content">
          <%= image_tag('service-icon') %>
          <h2>サービス</h2>
          <p>お客様に提供しているサービスの登録・編集ができます。<</p>
        </div>
        <% end %>
      </li>
      <% end %>
      <% if current_admin.shop.items.empty? %>
      <li>
        <%= link_to new_admin_shop_item_path(current_admin.shop.id) do %>
        <div class="shop-create_content">
          <%= image_tag('menu-icon') %>
          <h2>商品/メニュー</h2>
          <p>お客様に提供する、商品またはメニューの登録・編集ができます。</p>
        </div>
        <% end %>
      </li>
      <% else %>
      <li>
        <%= link_to admin_shop_items_path(current_admin.shop.id) do %>
        <div class="shop-create_content">
          <%= image_tag('menu-icon') %>
          <h2>商品/メニュー</h2>
          <p>お客様に提供する、商品またはメニューの登録・編集ができます。</p>
        </div>
        <% end %>
      </li>
      <% end %>
      <% if current_admin.shop.news.empty? %>
      <li>
        <%= link_to new_admin_shop_news_path(current_admin.shop.id) do %>
        <div class="shop-create_content">
          <%= image_tag('news-icon') %>
          <h2>ニュース</h2>
          <p>店舗のお知らせ・ブログ・イベントの登録・編集ができます。</p>
        </div>
        <% end %>
      </li>
      <% else %>
      <li>
        <%= link_to admin_shop_news_index_path(current_admin.shop.id) do %>
        <div class="shop-create_content">
          <%= image_tag('news-icon') %>
          <h2>ニュース</h2>
          <p>店舗のお知らせ・ブログ・イベントの登録・編集ができます。</p>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</main>
