<main>
  <div class="shops">
    <div class="search">
      <%= search_form_for @q, url: search_shops_path do |f| %>
      <div class="search-form">
        <div class="search-form_list">
          <%= f.text_field :address_cont, placeholder: "エリア" %>
        </div>
        <div class="search-form_list">
          <%= f.select :shop_genre_eq, Shop.shop_genres.map{|k, v| [Shop.shop_genres_i18n[k], v]} %>
        </div>
        <div class="search-form_action">
          <%= f.button :type => "submit" do %>
          <i class="fas fa-search">&emsp;検索</i>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  <div class="shop-list">
    <% if @shops.blank? %>
    <p class="no-result">検索条件に一致するお店が見つかりませんでした</p>
    <% else %>
    <ul>
      <% @shops.each do |shop| %>
      <% if shop.admin.is_active == "invaild" %>
      <% else %>
      <li>
        <%= link_to shop_path(shop) do %>
        <div class="shop-list_detail">
          <div class="shop-list_image">
            <% if shop.image_id.blank? %>
            <%= image_tag('no-image.png') %>
            <% else %>
            <%= attachment_image_tag shop, :image %>
            <% end %>
          </div>
          <div class="shop-list_content">
            <h2><%= shop.name %></h2>
            <dl>
              <% if shop.access.blank? %>
              <% else %>
              <dt>アクセス：</dt>
              <dd><%= shop.access %></dd>
              <% end %>
            </dl>
            <dl>
              <dt>住所：</dt>
              <dd><%= shop.address %></dd>
            </dl>
            <dl>
              <% if shop.business_hours.blank? %>
              <% else %>
              <dt>営業時間：</dt>
              <dd><%= shop.business_hours %></dd>
              <% end %>
              <% if shop.holiday.blank? %>
              <% else %>
              <dt>定休日：</dt>
              <dd><%= shop.holiday %></dd>
              <% end %>
            </dl>
            <dl>
              <dt>レビュー：</dt>
              <dd><%= shop.reviews.count %>件</dd>
            </dl>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
      <% end %>
    </ul>
    <% end %>
  </div>
  </div>
</main>
