<main>
    <div class="top">
      <ul class="top-img">
        <li><%= image_tag('22607097_m.jpeg') %></li>
        <li><%= image_tag('5113904_m.jpeg') %></li>
      </ul>
    <h1>きっとみつかる、行きたくなる町。</h1>
      <div class="search">
      <%= search_form_for @q, url: search_shops_path do |f| %>
      <div class="search-form">
        <div class="search-form_list">
          <%= f.text_field :address_cont, placeholder: "エリア" %>
        </div>
        <div class="search-form_list">
          <%= f.select :shop_genre_eq, Shop.shop_genres.map{|k, v| [Shop.shop_genres_i18n[k], v]} %>
        </div>
        <div class="search-form_action">
          <%= f.button :type => "submit" do %>
          <i class="fas fa-search"></i>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    </div>
    <div class="shop-lank">
      <h2 class="lank-title">おすすめのお店</h2>
      <ul class="lank-slider">
        <% @shop.each do |shop| %>
        <li>
          <%= link_to shop_path(shop) do %>
          <div class="shop-lank_list">
            <div class="shop-lank_list-img"><%= attachment_image_tag shop, :image %></div>
            <p><%= shop.name %></p>
            <p><%= shop.access %></p>
            <p>お気に入り：<%= shop.favorites.count %>件</p>
          </div>
          <% end %>
        <% end %>
        </li>
      </ul>
    </div>
    <div class="new-review-list">

    </div>
</main>
