<main>
    <div class="top">
      <ul class="top-img">
        <li><%= image_tag('22607097_m.jpeg') %></li>
        <li><%= image_tag('5113904_m.jpeg') %></li>
      </ul>
    <h1>きっとみつかる、行きたくなる町。</h1>
      <div class="search">
      <%= search_form_for @q, url: search_shops_path do |f| %>
      <div class="search-form">
        <div class="search-form_list">
          <%= f.select :state_eq, Shop.states.map{|k, v| [Shop.states_i18n[k], v]} %>
        </div>
        <div class="search-form_list">
          <%= f.text_field :city_cont, placeholder: "市区" %>
        </div>
        <div class="search-form_list">
          <%= f.select :shop_genre_eq, Shop.shop_genres.map{|k, v| [Shop.shop_genres_i18n[k], v]} %>
        </div>
        <div class="search-form_action">
          <%= f.button :type => "submit" do %>
          <i class="fas fa-search"></i>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    </div>
</main>
