<main>
  <div class="head">
    <h1>メニュー詳細</h1>
  </div>
  <div class="layer">
    <%= link_to shop_path(@shop) do %>
    <i class="fas fa-chevron-left">&thinsp;店舗詳細ページに戻る</i>
    <% end %>
  </div>
  <div class="menu-content">
    <div class="menu-content_image">
      <% if @item.image.nil? %>
      <%= image_tag('no-image') %>
      <% else %>
      <%= attachment_image_tag @item, :image %>
      <% end %>
    </div>
    <h2><%= @item.name %></h2>
    <p><%= @item.content %></p>
    <p>価格：¥<%= @item.tax_price %></p>
  </div>
</main>