<!DOCTYPE html>
<html>
  <head>
    <title>MachiWakka</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
        <% if admin_signed_in? %>
          <%= link_to image_tag('logo.png'), admin_path %>
        <% else %>
          <%= link_to image_tag('logo.png'), root_path %>
        <% end %>
        </div>
        <nav>
          <ul>
            <% if customer_signed_in? %>
            <li>ようこそ<%= current_customer.nickname %>さん</li>
            <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
            <li class="mypage-action"><%= link_to customer_path(current_customer) do %><i class="fas fa-user"></i><% end %></li>
            <% elsif admin_signed_in? %>
            <li><%= link_to "店舗作成", top_admin_shops_path %></li>
            <li><%= link_to "マイページ", admin_path %></li>
            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to "会員登録", new_customer_registration_path %></li>
            <li><%= link_to "ログイン", new_customer_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
    <footer></footer>
  </body>
</html>
